<a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>
<h1 class="productName"><%= @product.name %></h1>
<p class="productInventory"><%= @product.inventory %></p>
<p class="productPrice"><%= @product.price %></p>
<p class="productDescription"><%= @product.description %></p>

<script type="text/javascript" charset="utf-8">
  function getNextProduct(e) {
    e.preventDefault();
    const currentID = parseFloat(this.dataset.id);
    const nextId = currentID + 1;
    const ohjquery = this;
    $.get("/products/" + nextId + ".json", function(data) {
      document.querySelector('.productName').textContent = data.name;
      document.querySelector('.productPrice').textContent = data.price;
      document.querySelector('.productDescription').textContent = data.description;
      document.querySelector('.productInventory').textContent = data.inventory;
      // re-set the id to current on the link
      ohjquery.dataset.id = data.id;
    });
  }

  document.querySelector('.js-next').addEventListener('click', getNextProduct);
</script>
