<a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>
<h1 class="productName"><%= @product.name %></h1>
<p class="productInventory"><%= @product.inventory %></p>
<p class="productPrice"><%= @product.price %></p>
<p class="productDescription"><%= @product.description %></p>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(e) {
    e.preventDefault();
    const link = document.querySelector('.js-next');
    const currentID = parseFloat(link.dataset.id);
    const nextId = currentID + 1;
    $.get("/products/" + nextId + ".json", function(data) {
      document.querySelector('.productName').textContent = data.name;
      document.querySelector('.productPrice').textContent = data.price;
      document.querySelector('.productDescription').textContent = data.description;
      document.querySelector('.productInventory').textContent = data.inventory;
      // re-set the id to current on the link
      link.dataset.id = data.id;
    });
  });
});
</script>
